@page "/"
@layout TcgFront.Layout.MainLayout
@using TcgFront.Models.Dtos
@using TcgFront.Services
@inject PackService PackService

<PageTitle>Mercado TCG</PageTitle>

<div class="container-fluid">
    <h1 class="text-center my-4">Come on Open Pack</h1>
    @if (sets == null)
    {
        <div>
            <h1>Is Loading...</h1>
        </div>    
    }
    else
    {
        @foreach(var set in sets)
        {
            <div class="card" style="width: 18rem;">
                <img src="@set.ImageUrl" class="card-img-top" alt="@set.Name"/>
                <div class="card-body">
                    <h5 class="card-title">@set.Name</h5>
                    <a href="#" class="btn btn-primary">@set.price</a>
                </div>
            </div>
        }
    }
</div>

@code {
    private List<SetDto> sets;

    protected override async Task OnInitializedAsync()
    {
        sets = await PackService.GetAllSets();
    }
}