@page "/"
@layout TcgFront.Layout.MainLayout
@using TcgFront.Models.Dtos
@using TcgFront.Services
@inject PackService PackService

<PageTitle>Mercado TCG</PageTitle>

<div class="home-container">

    <div class="hero-section">
        <div class="hero-content">
            <img src="/Logo.webp" alt="Pokeball Logo" class="hero-logo floating-logo" />

            <div class="text-group">
                <h1>Gotta catch 'em all!</h1>
                <p>Discover a lot of cards and complete your collection</p>
                <button class="btn-hero" onclick="document.querySelector('.content-section').scrollIntoView({behavior: 'smooth'})">
                    See Packs
                </button>
            </div>
        </div>

        <div class="hero-fade-bottom"></div>
    </div>

    <div class="content-section">
        <h2 class="section-title">Sets Disponibles</h2>

        @if (sets == null)
        {
            <div class="loading-state">
                <img src="/Logo.webp" class="spinner-logo" alt="Cargando..." />
                <p>Buscando sets...</p>
            </div>
        }
        else
        {
            <div class="sets-grid">
                @foreach (var set in sets)
                {
                    <div class="set-card">
                        <div class="card-image-wrapper">
                            <img src="@set.ImageUrl" alt="@set.Name" loading="lazy" />
                        </div>
                        <div class="card-content">
                            <h5>@set.Name</h5>
                            <div class="card-footer">
                                <span class="price-tag">@set.price</span> <button class="btn-buy">Ver Cartas</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@code {
    private List<SetDto> sets;

    // Initializa method
    protected override async Task OnInitializedAsync()
    {
        sets = await PackService.GetAllSets();
    }
}