@page "/user/login"
@layout TcgWeb.Layout.AuthLayout
@using TcgWeb.Components.Common
@using TcgWeb.Models.Auth
@using TcgWeb.Models.Requests
@using TcgWeb.Services
@inject AuthService AuthService
@inject NavigationManager Navigation

<div class="poke-container">
    <div class="poke-header">
        <div class="logo-ring">
            <img src="/Logo.webp" alt="TCG Logo" class="poke-logo-img" />
        </div>
        <h3 class="poke-title">We chose you!</h3>
        <p class="poke-subtitle">Log in to access your collection.</p>
    </div>

    <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="poke-alert-error">
                <i class="bi bi-exclamation-circle-fill"></i>
                <span>@errorMessage</span>
            </div>
        }

        <div class="poke-field">
            <label class="poke-label">Trainer Name</label>
            <InputText @bind-Value="loginModel.username" class="poke-input" placeholder="Ex. AshKetchum" />
        </div>

        <div class="poke-field">
            <label class="poke-label">Master Password</label>
            <InputText type="password" @bind-Value="loginModel.password" class="poke-input" placeholder="••••••••" />
        </div>

        <button type="submit" class="btn-poke-action" disabled="@isLoading">
            @if (isLoading)
            {
                <span class="spinner-border spinner-border-sm"></span>
                <span> Joining...</span>
            }
            else
            {
                <span>Access the PC</span>
            }
        </button>
    </EditForm>

    <div class="poke-link-footer">
        <p>Are you not a trainer yet? <a href="/user/register" class="poke-link">Register Here</a></p>
    </div>
</div>

@code {
    private LoginRequest loginModel = new LoginRequest();
    private string errorMessage = "";
    private bool isLoading = false;

    private async Task HandleLogin()
    {
        isLoading = true;
        errorMessage = "";
        await Task.Delay(800);

        var error = await AuthService.Login(loginModel);
        if (error == null)
        {
            Navigation.NavigateTo("/", true);
        }
        else
        {
            errorMessage = "Incorrect Credetianls";
            isLoading = false;
        }
    }
}
