@inherits InputBase<string>

<div class="mb-3">
    <div class="input-group shadow-sm">
        <input @attributes="AdditionalAttributes"
               class="@CssClass form-control border-end-0"
               type="@(showPassword ? "text" : "password")"
               @bind="CurrentValue"
               @bind:event="oninput"
               placeholder="@Placeholder" />

        <button class="btn btn-outline-secondary border-start-0 bg-white text-muted"
                type="button"
                @onclick="TogglePassword"
                tabindex="-1">

            @if (showPassword)
            {
                <i class="bi bi-eye-fill fs-5"></i>
            }
            else
            {
                <i class="bi bi-eye-slash-fill fs-5"></i>
            }
        </button>
    </div>

    <div class="text-danger mt-1 small fw-bold">
        @foreach (var message in EditContext.GetValidationMessages(FieldIdentifier))
        {
            <div><i class="bi bi-exclamation-circle me-1"></i>@message</div>
        }
    </div>
</div>

@code {
    // Component parameters
    [Parameter] public string Label { get; set; } = "Contraseña";
    [Parameter] public string Placeholder { get; set; } = "******";

    private bool showPassword = false;

    private void TogglePassword() => showPassword = !showPassword;

    // Parse the input value from string to the desired type (string in this case)
    protected override bool TryParseValueFromString(string? value, out string result, out string validationErrorMessage)
    {
        result = value ?? string.Empty;
        validationErrorMessage = null ?? string.Empty;
        return true;
    }
}