@page "/user/login"
@layout TcgFront.Layout.AuthLayout
@using TcgFront.Components.Common
@using TcgFront.Models.Auth
@using TcgFront.Models.Requests
@using TcgFront.Services
@inject AuthService AuthService
@inject NavigationManager Navigation

<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center">
                <h3>Login</h3>
            </div>
            <div class="card-body">
                @* form to handle user login *@
                <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
                    <DataAnnotationsValidator /> @* validate form data *@

                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-danger">@errorMessage</div>
                    }

                    <div class="mb-3">
                        <label>Username</label>
                        <InputText @bind-Value="loginModel.username" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Password</label>
                        <InputPassword Label="password" @bind-Value="loginModel.password" />
                    </div>

                    <button type="submit" class="btn btn-primary w-100 py-2 fw-bold shadow-sm" disabled="@isLoading">
                        @if (isLoading)
                        {
                            <span role="status" aria-hidden="true">Logging in</span>
                        }
                        else
                        {
                            <i class="bi bi-person-plus-fill me-2">Login</i>
                        }
                    </button>
                </EditForm>
            </div>
            <div class="card-footer text-center">
                Don't you have an account? <a href="/user/register">Sign up</a>
            </div>
        </div>
    </div>
</div>

@code {
    // Login model to bind form data
    private LoginRequest loginModel = new LoginRequest();
    private string errorMessage = ""; // To hold error messages
    private bool isLoading = false; // To indicate loading state

    private async Task HandleLogin()
    {
        isLoading = true; // Set loading state
        errorMessage = ""; // Clear previous error message

        await Task.Delay(500); // Simulate a short delay for better UX
        // Call AuthService to perform login
        var error = await AuthService.Login(loginModel);
        // If login is successful, navigate to home page
        if (error == null)
        {
            Navigation.NavigateTo("/");
        }
        // If there's an error, display it
        else
        {
            errorMessage = error;
        }
    }
}
