@inherits LayoutComponentBase
<div class="flex-column position-relative">
    <NavBar />
    <main class="pt-5 mt-5">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    
}